#container{
    width: 50%;
    margin: auto;
    text-align: center;
}
button{
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: rgb(248, 156, 156);
    &:hover{
        font-size: 16px;
        box-shadow: 4px 2px 4px lightblue;
    }
}